## Importing the dependencies

In [1]:
import numpy as np
import pandas as pd

In [3]:
from nltk.corpus import stopwords

In [4]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

## Importing the data set

In [5]:
news_dataset = pd.read_csv('train.csv')

In [6]:
news_dataset.shape

(20800, 5)

In [7]:
news_dataset.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

## Data Preprocessing

In [8]:
news_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [10]:
news_dataset.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [11]:
news_dataset = news_dataset.fillna('')

In [12]:
news_dataset.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [15]:
news_dataset['author'] = news_dataset['author'].apply(lambda x : x.replace(" ", ""))

In [16]:
news_dataset['author'][0]

'DarrellLucus'

In [17]:
news_dataset['content'] = news_dataset['author'] + ' ' + news_dataset['title']

In [18]:
news_dataset.head()

,id,title,author,text,label,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,DarrellLucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,DarrellLucus House Dem Aide: We Didn’t Even Se...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",DanielJ.Flynn,Ever get the feeling your life circles the rou...,0,"DanielJ.Flynn FLYNN: Hillary Clinton, Big Woma..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Consortiumnews.com Why the Truth Might Get You...
3,3,15 Civilians Killed In Single US Airstrike Hav...,JessicaPurkiss,Videos 15 Civilians Killed In Single US Airstr...,1,JessicaPurkiss 15 Civilians Killed In Single U...
4,4,Iranian woman jailed for fictional unpublished...,HowardPortnoy,Print \nAn Iranian woman has been sentenced to...,1,HowardPortnoy Iranian woman jailed for fiction...

### Stemming

In [20]:
import re
from nltk.stem.porter import PorterStemmer

In [21]:
ps = PorterStemmer()

In [24]:
def stem_func(content):
    stemmed_content = re.sub('^a-zA-Z', ' ', content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [ps.stem(word) for word in stemmed_content if word not in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [26]:
news_dataset['content'] = news_dataset['content'].apply(stem_func)

## Separating Features and Labels

In [27]:
X = news_dataset['content']
y = news_dataset['label']

In [28]:
X

0        darrelllucu hous dem aide: didn’t even see com...
1        danielj.flynn flynn: hillari clinton, big woma...
2                  consortiumnews.com truth might get fire
3        jessicapurkiss 15 civilian kill singl us airst...
4        howardportnoy iranian woman jail fiction unpub...
                               ...
20795    jeromehudson rapper t.i.: trump ’poster child ...
20796    benjaminhoffman n.f.l. playoffs: schedule, mat...
20797    michaelj.delamercedandrachelabram macy’ said r...
20798    alexansari nato, russia hold parallel exercis ...
20799                          davidswanson keep f-35 aliv
Name: content, Length: 20800, dtype: object

In [29]:
y

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 20800, dtype: int64

## Converting Textual Data to Numerical Data

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(X)

In [32]:
print(X)

  (0, 20868)	0.2825650030534191
  (0, 3718)	0.34919625364273044
  (0, 10422)	0.31921053533150734
  (0, 11830)	0.27746078758434806
  (0, 4336)	0.23445367103114714
  (0, 18082)	0.2449156757965604
  (0, 7054)	0.22160471776775834
  (0, 5773)	0.2841501251192298
  (0, 814)	0.3772100963912312
  (0, 5505)	0.25994788922466927
  (0, 9454)	0.21310553797002127
  (0, 5214)	0.34534425155103504
  (1, 2968)	0.1515141962735811
  (1, 3393)	0.37018546534345337
  (1, 22258)	0.2864473965433943
  (1, 2508)	0.28003837679692495
  (1, 4161)	0.18230747909127915
  (1, 9236)	0.18954742619645712
  (1, 7711)	0.6804325650446245
  (1, 5148)	0.3839008294168572
  (2, 7579)	0.3892721847229471
  (2, 8289)	0.3430320058529194
  (2, 13163)	0.4869321574059883
  (2, 20786)	0.43247990271052494
  (2, 4317)	0.31427848300189487
  :	:
  (20796, 22469)	0.1036776159484374
  (20796, 14010)	0.10018893786711255
  (20797, 5474)	0.39614774085762733
  (20797, 12286)	0.36935757887679443
  (20797, 19885)	0.3238025233891528
  (20797, 9496)	0.35368633872976163
  (20797, 1537)	0.31343411123072823
  (20797, 2233)	0.34256741689596154
  (20797, 17651)	0.25357242514524947
  (20797, 16630)	0.27847684563014985
  (20797, 13087)	0.31343411123072823
  (20797, 20363)	0.08405626486806554
  (20797, 22469)	0.08493851567453112
  (20797, 14010)	0.08208039499743745
  (20798, 2053)	0.46040283106819857
  (20798, 7132)	0.43140792998954697
  (20798, 971)	0.3218179360609298
  (20798, 14942)	0.4714102689415501
  (20798, 9317)	0.3378249864138209
  (20798, 13859)	0.32952118149160553
  (20798, 17553)	0.23111052541011318
  (20799, 265)	0.5396101937460455
  (20799, 1027)	0.5287961600746284
  (20799, 5281)	0.5040722659242713
  (20799, 11140)	0.4184574179312083

## Splitting the Data Set into Training Data and Test Data

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=0)

## Training the Logistic Regression Model on the Training Set

In [34]:
from sklearn.linear_model import LogisticRegression

In [36]:
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression()

## Model Evaluation

In [37]:
from sklearn.metrics import accuracy_score, confusion_matrix

### Training Data Set

In [39]:
y_pred_train = classifier.predict(X_train)
print('Accuracy = {:.2f} %'.format(accuracy_score(y_train, y_pred_train) * 100))
print(confusion_matrix(y_train, y_pred_train))

Accuracy = 98.04 %
[[7525  265]
 [  40 7770]]

### Test Data Set

In [40]:
y_pred_test = classifier.predict(X_test)
print('Accureacy = {:.2f} %'.format(accuracy_score(y_test, y_pred_test) * 100))
print(confusion_matrix(y_test, y_pred_test))

Accureacy = 96.52 %
[[2438  159]
 [  22 2581]]

## Predictive System

In [50]:
X_new = X_test[0]

prediction = classifier.predict(X_new)[0]
if prediction == 1:
    print('Fake News')
else:
    print('Real News')

Fake News